#title {
    margin-top: 20px;
}

#buttons-row {
    margin-bottom: 10px;
}

td:nth-child(1),
th:nth-child(1),
td:nth-child(6),
th:nth-child(6) {
    text-align: center;
    width: 50px;
}

.dark {
    background-color: #181a1b;
    color: #FFFFFF;
}

.light {
    background-color: #FFFFFF;
    color: #000000;
}